program: src/ai_vs_human/train.py
method: bayes
metric:
  name: train/epoch_acc
  goal: maximize
parameters:
  lr:
    distribution: log_uniform_values
    min: 1e-5
    max: 1e-3
  batch_size:
    values: [32, 64, 128]
  epochs:
    value: 5
