program: src/ai_vs_human/train.py
project: MLOps_project
method: bayes
metric:
  name: val/acc
  goal: maximize
parameters:
  lr:
    distribution: log_uniform_values
    min: 1e-5
    max: 1e-3
  batch_size:
    values: [32, 64, 128]
  epochs:
    values: [10, 20, 30, 40]






